/* -----------------------------------------
	Table of Contents: 

	Scale
	Tag Resets
	Normalize CSS
	Web Fonts
	Fluid Media
	Custom Styles
	Media Queries

----------------------------------------- */

/* -----------------------------------------
	Scale
----------------------------------------- */

/* 
font-size: 17px target / 16px default = 1.063em
line-height: 20px target / 16px font = 1.25em

Scale: 1.063 x 1.25 = 1.32875, round to 1.3 

3/4 scale = 0.975
1/2 scale = 0.65
1/4 scale = 0.325
*/


/* -----------------------------------------

	Tag Resets

----------------------------------------- */

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
}


/* -----------------------------------------

	Normalize CSS
	http://necolas.github.com/normalize.css/

----------------------------------------- */

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	min-height: 100%;
	height:100%;
	font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
	display: block;
}

iframe {
	border:none;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

b,
strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

abbr[title] {
	border-bottom: 1px dotted;
}


textarea {
	overflow: auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* this is taken from an article about correcting a problem where Apple mobile devices wouldn't play iframe videos: */

a,
object,
input,
a:active,
a:focus,
input:active,
input:focus {
	outline:none;
}


/* -----------------------------------------

	Web Fonts

----------------------------------------- */


@font-face {
	font-family:"lato";
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/lato-regular-webfont.eot');
	src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/lato-regular-webfont.svg#lato-regular') format('svg'),
	     url('../fonts/lato-regular-webfont.ttf') format('truetype'),
	     url('../fonts/lato-regular-webfont.woff') format('woff');
}

@font-face {
	font-family:"lato";
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/lato-bold-webfont.eot');
	src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/lato-bold-webfont.svg#lato-bold') format('svg'),
	     url('../fonts/lato-bold-webfont.ttf') format('truetype'),
	     url('../fonts/lato-bold-webfont.woff') format('woff');
}

@font-face {
	font-family:"lato";
	font-weight: normal;
	font-style: italic;
	src: url('../fonts/lato-italic-webfont.eot');
	src: url('../fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/lato-italic-webfont.svg#lato-italic') format('svg'),
	     url('../fonts/lato-italic-webfont.ttf') format('truetype'),
	     url('../fonts/lato-italic-webfont.woff') format('woff');
}

@font-face {
	font-family:"lato";
	font-weight: 300;
	font-style: italic;
	src: url('../fonts/lato-lightitalic-webfont.eot');
	src: url('../fonts/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/lato-lightitalic-webfont.svg#lato-lightitalic') format('svg'),
	     url('../fonts/lato-lightitalic-webfont.ttf') format('truetype'),
	     url('../fonts/lato-lightitalic-webfont.woff') format('woff');
}

@font-face {
	font-family:"lato";
	font-weight: bold;
	font-style: italic;
	src: url('../fonts/lato-bolditalic-webfont.eot');
	src: url('../fonts/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/lato-bolditalic-webfont.svg#lato-bolditalic') format('svg'),
	     url('../fonts/lato-bolditalic-webfont.ttf') format('truetype'),
	     url('../fonts/lato-bolditalic-webfont.woff') format('woff');
}




/* -----------------------------------------

	Fluid Media

----------------------------------------- */


figure {
	position: relative;
}

figure img,
figure object,
figure embed,
figure video,
figure iframe {
	display: block;
	max-width: 100%; 
	margin:.65em auto;
}

/* 
interpolation-mode
http://css-tricks.com/ie-fix-bicubic-scaling-for-images/
 */

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}


/* -----------------------------------------

	Custom Styles

----------------------------------------- */


body {
	font-family:"lato",Arial,sans-serif;
	font-weight:normal;
 	line-height: 1.5em;
	padding:1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:65%;
	margin:1em auto;
}

.container {
	position:relative;
}

.whitebar {
	margin:0;
	padding:0;
	top:0px;
	height:20px;
	width:100%;
	background-color: #fff;
	position:fixed;
}

header {
	text-align:right;
	margin-bottom:.65em;
}

nav a {
	color:#E8A300;
	font-weight: normal;
	font-style: italic;
	padding:0 8px;
}

nav a:hover,
nav a:active {
	color:#F1C866;
	text-decoration: underline;
}

h1 {
	text-align: center;
	font-size: 2em;
	line-height: 1.063;
	margin:1em 0 .75em;
}

h2 {
	text-align: center;
	display:block;
	margin-top:.965em;
	margin-bottom:1.65em;
	font-size: 1.2em;
	font-weight: normal;
}

/* orange start button(s) */
.orange {
	text-transform: uppercase;
	line-height: 1.8em;
	cursor:pointer;
	padding:1em;
	border-radius:20px;
	/*width: 65px;*/
	width: 190px;
	margin:4.65em auto;
	text-align: center;
	color:white;
	/*box-shadow: .3em .3em .65em #888;*/
	/*background-color:#E8A300;*/
	background: -webkit-linear-gradient(#EDB533, #E8A300); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#EDB533, #E8A300); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#EDB533, #E8A300); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#EDB533, #E8A300); /* Standard syntax */

}

/* Clickable policy statement */
h3 {
	font-weight: normal;
	font-size: 1em;
	padding-top:.365em;
	cursor:pointer;
	border-top:1px solid #CBBFB6; /* pale brown */
	margin-bottom:1em;
}

h3 span.down,
h3 span.up {
	display: inline-block;
}

h3 span.down:after {
	background: transparent url('../img/arrow-dn-6.png') no-repeat;
	content: '';
	display:inline-block;
	width:11px;
	height:6px;
	margin-left:.4em;
	margin-bottom:.2em;
}

h3 span.up:after {
	background: transparent url('../img/arrow-up-6.png') no-repeat;
	content: '';
	display:inline-block;
	width:11px;
	height:6px;
	margin-left:.4em;
	margin-bottom:.2em;
}


/* Pro-Con Reasons Why headers */
h4 {
	border-top:1px solid #CBBFB6; /* pale brown */
	padding-top:.365em;
	font-weight: bold;
	font-style:italic;
	font-size:.975em;
	margin-top:1.965em;
	color:#8B4513; /* saddlebrown */
}

/* The arguments */
h5 {
	font-weight: bold;
	font-size:1em;
	line-height: 1.3;
	margin-bottom:.365em;
	color:#53290B; /* dark brown */
}

p {
	line-height: 1.3;
	margin-bottom: .365em;
	/*margin-bottom: .75em;*/
}

#mission p {
	margin-bottom: 1.365em;
}

a,
a:hover,
a:active {
	color:#000;
	text-decoration: none;
}

ul {
	list-style-type: none;
	list-style-position: inside;
	margin-bottom:1.965em;
}

ul.vids {
	list-style-type: none;
}

ul li {
	margin-top:1.65em;	
}

ul.vids li {
	/*margin-top:1em;*/
}

.youtube,
.vimeo {
	width:400px;
	height:225px;
}

/* AddThis buttons */

.addthis_sharing_toolbox {
	opacity: .6!important;
	/*text-align: right;*/
}

.at4-show, .at4-show-content {
}

/* our mail sharing button */
.share-mail-arg a,
.share-mail-vid a {
	border:1px solid #aaa;
	border-radius:5px;
	color:#777;
	padding:3px 6px;
	font-size: .75em;
	margin-bottom: .75em;
}

.share-mail-alt a {
	color:#666;
	background:#EBEBEB;
	border-radius:5px;
	padding:3px 6px;
	font-size:.75em;
	margin-bottom:.75em;
	border:none;
}


/* http://simplesharingbuttons.com/ 
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}
/* end simplesharingbuttons.com */


/* A previous sharing service attempt */
/*
.horizontal-list {
	-webkit-padding-start: 0;
	-webkit-margin-before:-1.65em;
	-webkit-margin-after:0;
	margin-bottom: 1em;
	line-height: 1em;
}
.horizontal-list:before {
	content: "";
	display: table;
}
.horizontal-list:after {
	clear:both;
	content: "";
	display: table;
}

.shr-ico {
	cursor:pointer;
	float: left;
	height: 30px;
	width: 30px;
	padding: 0;
	margin-right:12px;
	background: url("http://s1.reutersmedia.net/resources_v2/images/rcom-social-v2.png");
	font-size: 1.2em;
	line-height: 1.8;
	color: #808080;
	text-align: center;
}

.shr-twitter .shr-ico {
  background-position: -30px -120px;
}
.shr-facebook .shr-ico {
	background-position: -60px -120px;
}
.shr-reddit .shr-ico {
	background-position: -120px -120px;
}
.shr-google .shr-ico {
	background-position: -150px -120px;
}
.shr-mail .shr-ico {
	background-position: 0px -120px;
}
*/

footer nav {
	padding-bottom:2em;
}

.closetopic {
	cursor:pointer;
	font-size: .75em;
	font-weight: lighter;
	line-height: 2.1;
	border-radius:4px;
	width:100px;
	text-align: center;
	/*background-color:#E8A300;*/ /* orange */
	background: -webkit-linear-gradient(#EAAC19, #E8A300); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#EAAC19, #E8A300); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#EAAC19, #E8A300); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#EAAC19, #E8A300); /* Standard syntax */
	color:#fff;
	vertical-align: baseline;
	padding:.365em 0;
	margin-bottom:4em;
}


/* -----------------------------------------

	Media Queries for smaller than 768px or 48em

----------------------------------------- */

@media screen and (max-width: 48em) {

	body {
		width:80%;
	}

	nav a {
		font-size:.975em;
	}

	.container {
		padding-bottom:40px;
		margin:0 .65em;
	}

	footer {
		position:fixed;
		bottom:0;
		width:80%;
		height:40px;
		margin:0 auto;
		padding:7px 0;
		background-color: #fff;
	}

	.closetopic {
		width:90%;
		padding:5px;
	}

	.youtube,
	.vimeo {
		width:426px;
		height:240px;
	}

}


/* -----------------------------------------

	Media Queries for smaller than 568px or 35.5em

----------------------------------------- */

@media screen and (max-width: 35.5em) {

	body {
		font-size: 107%;
		width:100%;
	}

	footer {
		position:fixed;
		bottom:0;
		width:100%;
		height:40px;
		margin:0 auto;
		padding:7px 0;
		background-color: #fff;
	}

	.closetopic {
		width:85%;
	}

	.youtube,
	.vimeo {
		width:320px;
		height:160px;
	}

}
